.app-content{
    width: 100%;
    height: auto;
}
form{
    padding: 10px 30px 20px 25px;
}
md-input-container {
    width: 100%;
}
input{
    width:100%;
}
md-card{
    width:80%;
    margin: auto;
    margin-bottom: 10px;
}
md-toolbar{margin-bottom: 10px;};